{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    ["@semantic-release/npm", {
      "npmPublish": true
    }],
    ["@semantic-release/github", {
      "assets": false,
      "successComment": "Released in version ${nextRelease.version}\n\nInstall: `npm install -g @spark-apps/pdfile`\nhttps://www.npmjs.com/package/@spark-apps/pdfile",
      "failComment": "The release from branch ${branch.name} failed due to the following errors:\n- ${errors.map(err => err.message).join('\\n- ')}"
    }],
    ["@semantic-release/git", {
      "assets": ["package.json", "CHANGELOG.md"],
      "message": "chore(release): ${nextRelease.version} [skip-ci]\n\n${nextRelease.notes}"
    }]
  ]
} 